.DS_Store
/.phpunit.cache
.phpunit.result.cache

/node_modules
/public/hot
/public/storage
/public/build

/tests/coverage

/storage/*.key
/storage/.installed
/storage/settings.json
/storage/i18n-locales.js

/build
/lang/.custom

/vendor

.env
.env.backup

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log

_ide_helper.php
_ide_helper_models.php

.phpstorm.meta.php

.idea
.vscode
